<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <title>Login Universidad de Los Lagos</title>
    <!--<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %} ">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

    <style>
        body {
            background: url({% static 'img/patron-08.svg'%}) repeat fixed 0 0;
            background-size: auto;
            position: relative;
            text-shadow: none !important;
            color: #555;
            padding-top: 25px;
        }


        .login-page,
        .register-page {
            -ms-flex-align: center;
            align-items: center;
            background-color: #e9ecef;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            height: 70vh;
            -ms-flex-pack: center;
            justify-content: center;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://www.google.com/recaptcha/api.js?render={{site_key}}"></script>
    <!-- captcha
    <script>
        grecaptcha.ready(function () {
            $('#contactform').submit(function (e) {
                var form = this;
                e.preventDefault()
                grecaptcha.execute('{{site_key}}', { action: 'contactform' }).then(function (token) {
                    $('#recaptcha').val(token)
                    form.submit()
                });
            })
        });
    </script>
 /captcha-->
</head>

<body class="hold-transition login-page">
    <p><br></p>
    {% include '../layout/mensajes.html' %}

    <div class="widget-user-image">
        <!-- <img class="img-circle elevation-2" src="{% static 'img/logo_128.png'%}" alt="User Avatar"> -->
    </div>
    <div class="login-box">
        <div class="login-logo">
            <a href="https://www.ulagos.cl"><b>ULAGOS</b> TNE 2023</a>
        </div>
       
        <!--LOGIN-->
        <form action="{% url 'login'%}" method="post" name='contactform' id='contactform'> {% csrf_token %}
            <div class="card-body login-card-body">
                <p class="login-box-msg">Ingrese son su correo @alumnos.ulagos.cl</p>
                
                    <div class="input-group mb-3">
                        {{form.email}}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{form.password}}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                 
                
                <div class="social-auth-links text-center mb-3">
                  
                    <input type="submit" class="btn btn-block btn-primary " value="Ingresar"/>
                    
                    <input  type="reset" class="btn btn-block btn-danger" value="Cancelar">
                       
                </div>

                <p class="mb-1">
                    <a href="https://www.ulagos.cl/email-ulagos/">Recuperar Contraseña</a>
                </p>
                
            </div>
            <div class="input-group mb-3">
                <!--Input captcha-->
                <!-- <input type="hidden" name="g-recaptcha-response" id='recaptcha'> -->
                <!--/Input captcha-->
            </div>
        </form>
        <!--/LOGIN-->
        
    </div>


    <script src="{% static 'plugins/jquery/jquery.min.js' %} "></script>

    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

    <script src="{% static 'js/adminlte.min.js' %}"></script>
</body>

</html>